
<!--   <% if select.first_time < 10.5 && 10.5 < select.finish_time %>
  <div class='time_10-11' style = 'background-color: deepskyblue'></div>
  <% else %>
  <div class='time_10-11'></div>
  <% end %>
  <% if select.first_time < 11.5 && 11.5 < select.finish_time %>
    <div class='time_11-12' style = 'background-color: deepskyblue'></div>
  <% else %>
    <div class='time_11-12'></div>
  <% end %>
  <% if select.first_time < 0.5 && 0.5 < select.finish_time %>
    <div class='time_12-1' style = 'background-color: deepskyblue'></div>
  <% else %>
    <div class='time_12-1'></div>
  <% end %>
  <% if select.first_time < 1.5 && 1.5 < select.finish_time %>
    <div class='time_1-2' style = 'background-color: deepskyblue'></div>
  <% else %>
    <div class='time_1-2'></div>
  <% end %>
  <% if select.first_time < 2.5 && 2.5 < select.finish_time %>
    <div class='time_2-3' style = 'background-color: deepskyblue'></div>
  <% else %>
    <div class='time_2-3'></div>
  <% end %>
  <% if select.first_time < 3.5 && 3.5 < select.finish_time %>
    <div class='time_3-4' style = 'background-color: deepskyblue'></div>
  <% else %>
    <div class='time_3-4'></div>
  <% end %>
  <% if select.first_time < 4.5 && 4.5 < select.finish_time %>
    <div class='time_4-5' style = 'background-color: deepskyblue'></div>
  <% else%>
    <div class='time_4-5'></div>
  <% end %>
  <% if select.first_time < 5.5 && 5.5 < select.finish_time %>
    <div class='time_5-6' style = 'background-color: deepskyblue'></div>
  <% else %>
    <div class='time_5-6' style></div>
  <% end %>
  <% if select.first_time < 6.5 && 6.5 < select.finish_time %>
    <div class='time_6-7' style = 'background-color: deepskyblue'></div>
  <% else %>
    <div class='time_6-7'></div>
  <% end %>
  <% if select.first_time < 7.5 && 7.5 < select.finish_time %>
    <div class='time_7-8' style = 'background-color: deepskyblue'></div>
  <% else %>
    <div class='time_7-8'></div>
  <% end %>
  <% if select.first_time < 8.5 && 8.5 < select.finish_time %>
    <div class='time_8-9' style = 'background-color: deepskyblue'></div>
  <% else %>
    <div class='time_8-9'></div>
  <% end %>
  <% if select.first_time < 9.5 && 9.5 < select.finish_time %>
    <div class='time_9-10' style = 'background-color: deepskyblue'></div>
  <% else %>
    <div class='time_9-10'></div>
  <% end %> -->


 <!-- <canvas id="myCanvas" width="500px" height="500px" style="background-color:white;border-radius: 100%;"> </canvas>
 -->